.root {
    -fx-font-size: 14px;
    -fx-background-color: rgb(250, 253, 255);
    /*-fx-background: rgb(32, 32, 32);*/
    /*-fx-base: rgb(39, 39, 39);*/
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.stack-pane {
    -fx-background-color: transparent;
}

/** Color Picker **/
.color-picker {
    -fx-color-label-visible: false;
    -fx-background-radius: 100;
    -fx-padding: 0 0 0 5;
    -fx-min-height: 35px;
}

.color-picker > .arrow-button {
    -fx-opacity: 0%;
    -fx-padding: 0;
    -fx-max-height: 0px;
    -fx-max-width: 0px;
}

.color-picker .color-picker-label .picker-color .picker-color-rect {
    -fx-arc-height: 35;
    -fx-arc-width: 35;
}

/** Scroll Pane **/
/* Scrollbar Track */
.scroll-pane .scroll-bar:horizontal .track,
.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

/* Scrollbar Thumb */
.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(171, 171, 171, 0.42);
    -fx-background-radius: 5;
}

/* Scrollbar Thumb when Hovered */
.scroll-pane .scroll-bar:horizontal .thumb:hover,
.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgba(162, 162, 162, 0.44);
}

* {
    -fx-my-menu-color: rgb(250, 253, 255);
    -fx-my-menu-color-highlighted: rgba(229, 229, 229, 0.45);
    -fx-my-menu-font-color: #000000;
    -fx-my-menu-font-color-highlighted: #000000;
    -fx-toolbar-background-color: white;
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
    -fx-background-radius: 4;
    -fx-padding: 6 6 6 6;
}

.menu {
    -fx-background-radius: 6;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hover {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hover .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/
.context-menu {
    -fx-background-color: -fx-my-menu-color;
}

.button {
    -fx-background-color: white;
}

.toggle-button {
    -fx-background-color: white;
    -fx-padding: 1px 1px;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

.toggle-button:hover {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

.toggle-button:selected {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/* Style for selected toggle buttons */
.toggle-button:selected {
    -fx-corners: 5px;
}

#toolbarMainWrapper {
    -fx-background-color: -fx-toolbar-background-color;
}